<div class="row" style="height:10%"></div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <nb-card status="primary">
      <nb-card-header>
        <div class="text-center">
          <h2 mat-dialog-title>Connexion</h2>
        </div>

      </nb-card-header>
      <nb-card-body>
        <mat-dialog-content>
          <form novalidate [formGroup]="form">
            <table class="full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="full-width" [class.mgb15]="form.get('username').dirty && form.get('username').invalid">
                    <input matInput placeholder="Nom d'utilisateur" formControlName="username" minlength="2" required name="username" />
                    <mat-error *ngIf="form.get('username').dirty && form.get('username').hasError('required')">
                      Avoir un nom d'utilisateur est <strong>obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf="form.get('username').dirty && form.get('username').hasError('minlength')">
                      Le nom d'utilisateur doit faire au <strong>minimum 2 lettres</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="full-width">
                    <input matInput placeholder="Mot de passe" formControlName="password" minlength="8" required name="password" />
                    <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">
                      Avoir un mot de passe est <strong>obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('minlength')">
                      Un mot de passe de faire au minimum <strong>8 caractères</strong>
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
        </mat-dialog-content>

        <mat-dialog-actions align="end">
          <button mat-button type="button" [routerLink]="['/home']">Annuler</button>
          <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Connexion</button>
        </mat-dialog-actions>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" style="height:10%">
</div>
<div class="row">
  <div class="col-4 offset-4">
    <button style="width:100%" mat-raised-button type="button" color="warn" [routerLink]="['/form']">Besoin d'un compte ?</button>
  </div>
</div>
