<nb-layout >
  <nb-layout-header fixed >
      <span>
        <a mat-button [routerLink]="['/home']">
          <i class="material-icons">movie_filter</i>
          YoutubeRoom
        </a>
      </span>
      <span></span>
        <span class="flex"></span>

    <span>
      <nb-toggle status="basic" (click)="toggleTheme()"></nb-toggle>

    </span>
    <span>
    <i class="material-icons">nights_stay</i>
      </span>
    <span>
        <a mat-button [routerLink]="['/room']">
          Room
        </a>
      </span>

        <span *ngIf="isSessionOn()">
        <a mat-button [routerLink]="['/profil']">
          <i class="material-icons">person_outline</i>
        </a>
      </span>
    <span *ngIf="!isSessionOn()">
        <a mat-button [routerLink]="['/login']">
          <i class="material-icons">add_circle_outline</i>
        </a>
      </span>
        <span *ngIf="isSessionOn()">
        <a mat-button (click)="disconnect()"[routerLink]="['/home']">
          <i class="material-icons">power_settings_new</i>
        </a>
      </span>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <span *ngIf="isSessionOn()" [textContent]="getSession()"></span>
    <span *ngIf="!isSessionOn()">Vous n'êtes pas connecté</span>
  </nb-layout-footer>

</nb-layout>
