@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/bootstrap/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-bootstrap-global();
};

.flex {
  flex: 1 1 auto;
}

.nb-theme-custom-theme nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0;
}

.nb-theme-custom-theme nb-sidebar .scrollable{
  padding: 0;
}

.sidebar-style{
  background-color: red;
}

.fullWidth {
  width:100%;
}

.noMargin {
  padding: 0px;
}

.seen {
  background-color: #4d4d4d
}

.unseen {
  background-color: #dfd4c5
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
